{% extends 'base.html' %}
{% block title %} Books {% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <h1>Books</h1>
        <p>Welcome to the Book directory</p>
    </div>
    {% if saved == "Error" %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>One or more of the form fields are invalid. Please try again.</strong> 
        </div>
    {% elif saved %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Added successfully.</strong> 
        </div>
    {% endif %}
    <div class="container-fluid">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBookModal">
            Add New Book
        </button>
    </div>
    <div class="modal" id="addBookModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <form action="{% url 'library_app:books' %}" method="post">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Book</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add">
                </div>
            </form>
          </div>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            {{ book.isbn }}
                        </td>
                        <td>
                            {{ book.book_title }}
                        </td>
                        <td>
                            List of authors
                        </td>
                        <td>
                            <div class="container-fluid">
                                <a class="btn btn-secondary" href="/">
                                    Availability
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
