{% extends 'base.html' %}
{% block title %} Edit Member {% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Edit Member: {{member.member_id}}</h1>
        <p>Here you can edit a member's personal information and rentals</p>
    </div>
    {% if saved %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Updated successfully.</strong> 
        </div>
    {% endif %}
    <div class="container-fluid">
        <form action="{% url 'library_app:edit-member' pk=member.member_id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="container-fluid">
                <input type="submit" class="btn btn-primary" value="Update">
                <input type="hidden" name="_method" value="PATCH" />
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Rental ID</th>
                    <th>Library</th>
                    <th>Num of Items</th>
                    <th>Rental Date</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for rental in rentals %}
                    <tr>
                        <td>
                            {{ rental.rental_id }}
                        </td>
                        <td>
                            {{ rental.library_id }}
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            {{ rental.rental_date }}
                        </td>
                        <td>
                            {{ resource.quantity_checked_out }}
                        </td>
                        <td>
                            <div class="container-fluid">
                                <a class="btn btn-secondary" href="{% url 'library_app:rental-items' pk=rental.rental_id %}">
                                    View
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}