{% extends 'base.html' %}
{% block title %} Edit Member {% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Edit Member: {{member.member_id}}</h1>
        <p>Here you can edit a member's personal information and rentals</p>
    </div>
    {% if saved %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Updated successfully.</strong> 
        </div>
    {% endif %}
    <div class="container-fluid">
        <form action="{% url 'library_app:edit-member' pk=member.member_id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="container-fluid">
                <input type="submit" class="btn btn-primary" value="Update">
                <input type="hidden" name="_method" value="PATCH" />
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
{% endblock %}