{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1>
                City Public Library
            </h1>
            <p>
                Welcome to the City Public Library's adminstrative site
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Members &rarr;</h2>
                            <p class="card-text">Some description</p>
                            <a href="{% url 'library_app:members' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Libraries &rarr;</h2>
                            <p class="card-text">Some description</p>
                            <a href="{% url 'library_app:libraries' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Books &rarr;</h2>
                            <p class="card-text">Some description</p>
                            <a href="{% url 'library_app:books' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Resources &rarr;</h2>
                            <p class="card-text">Some description</p>
                            <a href="{% url 'library_app:resources' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}