{% extends 'base.html' %}
{% load static %}
{% block title %} City Public Library | Home {% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <h1 class="text-center">
            City Public Library
        </h1>
        <p class="text-center">
            Welcome to the City Public Library's adminstrative site!
        </p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="card">
                    <img src="{% static 'images/members.jpg' %}" class="card-img-top px-2 pt-2" alt="wooden figure peg dolls of family members on wood table">
                    <div class="card-body">
                        <h2 class="card-title">Members</h2>
                        <p class="card-text">Find, edit, add, and delete members in the City Public Library network.</p>
                        <a href="{% url 'library_app:members' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="card">
                    <img src="{% static 'images/libraries.jpg' %}" class="card-img-top px-2 pt-2" alt="interior of library with tables and bookshelves">
                    <div class="card-body">
                        <h2 class="card-title">Libraries</h2>
                        <p class="card-text">Explore the various branches of the City Public Library network.</p>
                        <a href="{% url 'library_app:libraries' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="card">
                    <img src="{% static 'images/books.jpg' %}" class="card-img-top px-2 pt-2" alt="books on wooden table">
                    <div class="card-body">
                        <h2 class="card-title">Books</h2>
                        <p class="card-text">Browse the various titles in the City Public Library catalog or add to it.</p>
                        <a href="{% url 'library_app:books' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="card">
                    <img src="{% static 'images/resources.jpg' %}" class="card-img-top px-2 pt-2" alt="close up on calculator">
                    <div class="card-body">
                        <h2 class="card-title">Resources</h2>
                        <p class="card-text">Find, edit, and add stock of a particular title at a City Public Library branch.</p>
                        <a href="{% url 'library_app:resources' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer fixed-bottom bg-dark text-center">
        <div class="container-fluid">
            <div class="row">
                <p class="footer-text">Images and Stock Photos by: <a class="footer-text" href="https://www.vecteezy.com/free-photos">Vecteezy</a>, <a class="footer-text" href="https://www.freepik.com/free-photo">Freepik</a></p>
            </div>
        </div>
    </footer>
{% endblock %}