{% extends 'base.html' %}
{% block title %} Edit Rental Item {% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <h1>Rental Item</h1>
    </div>
    <div class="container-fluid">
        <p>Rental ID: {{rental_item.rental_id}}</p>
        <p>Book Title: {{rental_item.resource.isbn.book_title}}</p>
        <p>Return Date: {{rental_item.return_date}}</p>
        <p>Waitlist Spot: {{rental_item.queue_pos}}</p>
    </div>
    {% if saved == "Error" %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>One or more of the form fields are invalid. Please try again.</strong> 
        </div>
    {% elif saved %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Updated successfully.</strong> 
        </div>
    {% endif %}
    <div class="container-fluid">
        <form action="{% url 'library_app:rental-item' rental=rental_item.rental.rental_id resource=rental_item.resource.resource_id %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="container-fluid">
                <input type="submit" class="btn btn-primary" value="Update">
                <input type="hidden" name="_method" value="PATCH" />
            </div>
        </form>
    </div>
{% endblock %}