{% extends 'base.html' %}
{% block title %} Rental Items | City Public Library{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Rental Items</h1>
    </div>
    <div class="container-fluid">
        <p>Rental ID: {{rental.rental_id}}</p>
        <p>Member: {{rental.member}} | ID: {{rental.member.member_id}}</p>
        <p>Library: {{rental.library}}</p>
        <p>Rental Date: {{rental.rental_date}}</p>
        <p>Rental Status: {{rental.rental_status}}</p>
    </div>
    {% if saved == "Error" %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>One or more of the form fields are invalid. Please try again.</strong> 
        </div>
    {% elif saved %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Added successfully.</strong> 
        </div>
    {% endif %}
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Resource ID</th>
                    <th>Title</th>
                    <th>Waitlist Spot</th>
                    <th>Status</th>
                    <th>Return Date</th>
                </tr>
            </thead>
            <tbody>
                {% for rental_item in rental_items %}
                    <tr>
                        <td>
                            {{ rental_item.resource_id }}
                        </td>
                        <td>
                            {{ rental_item.resource.isbn.book_title }}
                        </td>
                        <td>
                            {{ rental_item.queue_pos }}
                        </td>
                        <td>
                            {{ rental_item.rental_item_status }}
                        </td>
                        <td>
                            {{ rental_item.return_date }}
                        </td>
                        <td>
                            {% if rental_item.rental_item_status != "RETURNED" %}
                                <div class="container-fluid">
                                    <a class="btn btn-secondary" href="{% url 'library_app:rental-item' rental=rental_item.rental.rental_id resource=rental_item.resource_id %}">
                                        Edit
                                    </a>
                                </div>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}