.footer-text {
    color: rgba(255,255,255,.55);
    text-decoration: none;
    
}

a.footer-text:hover {
    color: white
}

div>form>div>input{
    max-width: 40rem
}

input[type^=date]{
    max-width: 10rem
}

input[type^=number]{
    max-width: 5rem
}

select[name^=rental_item]{
    max-width: 10rem
}